<p-floatlabel variant="in" class="w-full mb-4">
    <p-password
        class="block w-full"
        [toggleMask]="true"
        [feedback]="feedback()"
        [formControl]="formControl()"
        [promptLabel]="'register.form.password-prompt' | translate"
        [weakLabel]="'register.form.password-weakLabel' | translate"
        [mediumLabel]="'register.form.password-mediumLabel' | translate"
        [strongLabel]="'register.form.password-strongLabel' | translate"
    />
    <label for="in_label">{{ label() | translate }}</label>
</p-floatlabel>