<p-floatlabel variant="in" class="w-full mb-4">
    <p-password
        class="block w-full"
        [toggleMask]="true"
        [feedback]="feedback()"
        [formControl]="formControl()"
        [promptLabel]="'login.form-password-prompt' | translate"
        [weakLabel]="'login.form-password-weakLabel' | translate"
        [mediumLabel]="'login.form-password-mediumLabel' | translate"
        [strongLabel]="'login.form-password-strongLabel' | translate"
    />
    <label for="in_label">{{ label() | translate }}</label>
</p-floatlabel>