<p-menubar>
    <ng-template #start>
        <p-button icon="pi pi-bars" [rounded]="true" severity="secondary" size="small" class="mr-2" (onClick)="toggerPanel()" />
        <h3>{{ 'header.menu-title' | translate }}</h3>
    </ng-template>
    <ng-template #end>
        <p-menu #menu [model]="rightMenuItems" [popup]="true">
            <ng-template #submenuheader let-item>
                <span [class]="item.icon"></span>
                <span class="text-primary font-bold">{{ item.label | translate }}</span>
            </ng-template>
            <ng-template #item let-item>
                <a pRipple class="flex items-center">
                    <span>
                        <img [src]="item.icon">
                    </span>
                    <span class="cursor-pointer ml-2">{{ item.label | translate }}</span>
                    <span *ngIf="item.shortcut" class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs">
                        {{ item.shortcut }}
                    </span>
                </a>
            </ng-template>
        </p-menu>
        <p-button class="icon-button" (click)="menu.toggle($event)" [rounded]="true" severity="secondary" size="small">
            <i class="pi pi-ellipsis-v"></i>
        </p-button>
    </ng-template>
</p-menubar>
